/* *{
    background-color: bisque;
} */
h1{
    color: blueviolet;
}
img{
    width: 200px;
}

.Shorts{
    color: cornflowerblue;
}

.Avengers{
    background-color: darkolivegreen;
}
.food{
    background-color: pink;
}